/* Restablecer márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Encabezado */
header {
    position: relative;
    background-color: #009e4a; /* Color de fondo si la imagen no se carga */
    width: 100%;
    max-width: 800px; /* Ajusta el tamaño del encabezado */
    margin: 0 auto; /* Centrar el encabezado */
}

header img {
    width: 100%;
    height: 100%;
}


/* Estilos Responsivos para dispositivos móviles */
@media (max-width: 768px) {
  /* Ajustar el encabezado */
  header {
    max-width: 100%;
  }

  /* Foto de perfil más pequeña y ajustada para móviles */
  .foto_perfil {
    width: 100px;
    height: 100px;
    top: 120px; /* Aumentar espacio superior para evitar superposición */
  }

  /* Ajustar el margen superior del encabezado de texto */
  .encabezado {
    margin-top: 180px; /* Dejar suficiente espacio para la imagen de perfil */
  }

  /* Ajustar el tamaño del texto */
  .encabezado h1 {
    font-size: 1.5em; /* Reducir ligeramente el tamaño de la fuente en pantallas pequeñas */
  }

  .encabezado p {
    font-size: 1em; /* Ajustar el tamaño del subtítulo */
  }

  /* Ajustar el ancho del contenedor principal */
  main {
    width: 90%;
    margin: 0 auto;
  }

  /* Ajustar el tamaño de los botones en móviles */
  .contact-buttons {
    flex-direction: column; /* Colocar los botones en columna */
    gap: 5px;
  }

  .whatsapp-button, .linkedin-button {
    width: 100%; /* Los botones ocupan todo el ancho en móviles */
  }
}
